

:root {
	--overflowfloat:			0.00000000000000000000001;
	
	--transparencycolor:			0, 0, 0;
	--transparencyalpha:			0.15;
	--bordercolor:				0, 0, 0;
	--messagetransparency:			0.5;
	--guildchanneltransparency:		0.15;
	--chatinputtransparency:		0.0;
	--memberlisttransparency:		0.0;
	--accentcolor:				190, 78, 180;
	}

